
<main class="container home">
  
  <div class="col-md-1 mr-auto">
    <button id="new-room-button" class="btn btn-primary mr-auto">New</button>
    <div id="new-room-popover" class="room-popover is-hidden">
      <div class="form-group">
        <%= form_for([@room, @list]) do |f| %>
          <%= f.text_field :title, class: "form-control", id: "room-title-input", placeholder:"Chore List Title", autoFocus: true %>
       </div>
          <%= f.submit "Save", class: "btn btn-success" %>
        <button id="cancel-room-popover" class="btn btn-secondary">Cancel</button>
        <% end %>
      </div>
    </div>
      <div class="col-md-4">
        <h3 class="text-center">Chores</h3>
      </div>
      <div class="col-md-1 ml-auto">
        <button class="btn ml-auto">...</button>
      </div>

    <div class="row">
      <% @room.lists.each do |list| %>

      <div class="col-md-4 feature-col">
        <div class="chore-feature-card">
          <section class="card-body">
            <div class="card-body-content">
              <object class="card-icon">
                <article class="chorelist">
                  <h3 class="chore-header"><%= list.title %></h3>
                    <ul class="chores-list">
                      <li class="chore">
                        <div class="checkbox">
                          <label class="checkbox-label checkbox-label-disabled">
                            <span class="checkbox-button"></span>
                        </label>
                          <span class="checkbox-content">Wipe down Counters</span>
                        </div>
                      </li><!-- chore-->
                    </ul>
                  </article>
                </object>
              </div>
            </section><!--card-body -->

          </div>
        </div>
        <% end %>

      </div>

    </main>
