<div class="col-md-4 feature-col">
  <div class="feature-room-card">
  <h4><%= list.list_title %></h4>
        <section class="card-body">
          <div class="card-body-content">
            <object class="card-icon">
              <article class="chorelist">
                <div class="chorelist-actions">
                  <p>Let's organize our chore lists</p>
                  <p>Click the Room name to start your Chore Lists</p>
                    </div>
                  </div>
                </div>
                  <ul class="chores-remaining">
                    
                    <li class="chore"></li>
                    </ul>
                  </article>
                </object>
              </div>
        </section><!--card-body -->
      </div>
    </div>


