* {
  box-sizing: border-box;
}

html {
  
}

body {
  margin: 0;
  display: block;
  background-color: #F0F0F1;
  font-family: 'Montserrat', sans-serif;
  color: #4A4D4F;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
  display: block;
}
