/******* Chore index page ******/
.static-header {
  margin-bottom: 1.0em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.feature-col {
  margin-bottom: 1.5rem;
}
.chore-feature-card {
  display: block;
  color: #3e4147;
  background-color: #fff;
  box-shadow: 5px 3px 3px #B7B7B7;
  border-radius: 5px;
  padding: 1.5rem;
  height: 100%;
  border: 1px solid #d9d9d9;
}

.chore-heading {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 200;
}

.chorelist {
  margin-bottom: 1em;
}
h3.chore-header {
  line-height: 1.2;
  margin: 0 !important;
  color: #3e4147;
  font-family: 'Montserrant', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid #B7B7B7;
}

ul.chores-list {
  min-height: 0.25em;
  margin-top: 10px;
  text-align: left;
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
}

.chore {
  list-style: none;
  position: relative;
  word-wrap: break-word;
  padding-left: 0;
  margin: 0;
}

.checkbox {
  padding: 0.25em 0 0.25em 1.9em;
  position: relative;
  min-height: 0.5em;
  display: block;
}

.checkbox-label-disabled {
  cursor: default;
}

.checkbox-label {
  position: absolute;
  left: 0;
  top: 0.25em;
  -webkit-tap-highlight-color: #fff;
  user-select: none;
}

.checkbox-button {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 1px solid rgba(0,0,0,0.25);
  background-color: #fff;
  border-radius: 0.3em;
  vertical-align: top;
}

.checkbox-content {
  display: block;
  vertical-align: top;
  cursor: pointer;
  text-transform: uppercase;
  color: #B7B7B7;
}
