.navbar {
  height: 50px;
  padding-top: 20px;
  margin-bottom: 30px;
  .navbar-brand {
    color: #3e4147;
    font-size: 2em;
  }
  a.nav-link {
    color: #3e4147;
    &:hover {
      color: #B7B7B7;
    }
  }
}
