.home-hero {
  background: url(asset_path("Artboard2.png"));
  position: absolute;
  height: 90%;
  width: 100%;
  border-top: 1px solid #EDDAE1;
}

.home-hero-title {
  margin-top: 300px;
  color: #3e4147;
  font-size: 3.0em;
  text-align: center;
  text-transform: uppercase;
  span.home-hero-title-main {
    font-weight: 300;
  }
}
.home-hero-subtitle {
  color: #3e4147;
  font-weight: 300;
  margin-bottom: 4.3125em;
  text-align: center;
  text-transform: uppercase;
}

.home-signUp {
  color: #3e4147;
  text-transform: uppercase;
  display: block;
  padding: 1em 2em;
  align-items: center;
  text-align: center;
  h3 {
    font-weight: 300;
    white-space: nowrap;
  }
  .welcome-button {
    background-color: #cba94f;
    width: 10%;
    border: 1px solid #cba94f;
    color: #efefef;
    &:hover {
      background: #eed9e0;
    }
    a {
      color: #efefef;
    }
  }
}
