.border {
  width: 40%;
  margin: auto;
  border-radius: 5px;
}
.h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.password-field {
  color: #B7B7B7;
  font-size: 12px;
}
.btn-block {
  background-color: #EDDAE1;
  border: 1px solid #B7B7B7;
}
.social-media-links {
  text-transform: uppercase;
  color: #B7B7B7;
}
.devise-links {
  text-transform: uppercase;
  color: #B7B7B7;
}
